@{
    ViewBag.Title = "About";
}
<br /><br />
<h2>О программе</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-6">

    <p>Программа разработана в рамках Дипломного проекта учащимся группы 42411 Шиловым Никитой Данииловичем</p>
    <h5>Данный дипломный проект состоит из пояснительной записки и непосредственно из файла исполняющей программы — системы учета и планирования личных финансов, получившего рабочее название «FAS – Finance Accounting System». </h5>
    <p>Проект носит обучающий характер, и имеет авторские права (В соответствии с кодексом Республики Беларусь о защите интеллектуальной собственности) и запрещен к умышленному присвоению авторства  (плагиат)</p>
</div>
<div class="col-md-6">
    <img src="~/img/228.png" class="df " title="thanks for coming"><br />
</div>
