@model List<FAS.Domain.Score>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-info h1 caption">система учета личных финансов</div><br /><br />
<div class="text-info h4">
    ДЕНЬГИ ЛЮБЯТ СЧЕТ <br />
    Учет личных финансов, импорт операций из банков.
    Ваш финансовый навигатор в браузере и смартфоне.
    Планирование бюджета семьи и малого бизнеса.
    Это больше, чем просто домашняя бухгалтерия
</div>
<img src="~/img/1.png" class="show" title="prim"><br />

<a class="btn btn-success" href="@Url.Action("Create", "Home")"><span class="glyphicon glyphicon-plus"></span> Начните сейчас</a>


