
@{
    ViewBag.Title = "Home";
    //Layout = "~/Views/Home/Create.cshtml";
}

<div class="hero-unit">
    <h1>Заголовок</h1>
    <p>Tagline</p>
    <p>
        <a class="btn btn-primary btn-large">
            Узнать больше
        </a>
        <a class="active" href="@Url.Action("Create", "Bank")">
            <span class="brand brand-user">Профиль </span>
        </a>
    </p>
</div>

