
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>


<a href="https://www.vk.com" class="btn btn-info">
    <span class="glyphicon glyphicon-user"></span> Info
</a>
<a href="https://www.vk.com" class="btn btn-danger">danger</a>
<a href="https://www.vk.com" class="btn btn-default">default</a>
<a href="https://www.vk.com" class="btn btn-primary">primary</a>
